.hero {
  margin-bottom: 40px;
}

.hero-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.omelette-recipe {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.omelette-recipe .title {
  font-family: "Young Serif", serif;
  font-size: 40px;
  color: var(--DarkCharcoal);
}

.omelette-recipe .description {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  color: var(--WengeBrown);
}

.info {
  background-color: var(--Snow);
  border-radius: 12px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info .info-headline {
  color: #7a284e;
  font-weight: 600;
  font-size: 20px;
}

.info ul {
  padding-left: 20px;
}

.info ul li {
  padding-left: 20px;
  color: var(--WengeBrown);
  font-size: 16px;
}

.info ul li:nth-child(2) {
  margin-block: 8px;
}

.info ul li::marker {
  color: var(--DarkRaspberry);
}
